{% extends "sites/base.html" %}
{% load static %}

{% block content %}
    

    <div class="container vh-100">
        <div class="d-flex justify-content-center align-items-center vh-100">

            <div class="card about" style="width: 18rem;">
              <img src="{% static '/sites/me.jpg' %}" class="card-img-top" alt="Me">
              <p></p>
              <p></p>
              <h5 class="card-title text-center"><p></p>Hi :)<p></p></h5>
              <div class="card-body card-header">
                <p style="text-align: justify;">I'm Maciej. I'm a Fullstack Developer. 
                I make web app's working perfectly on mobiles and pc's. 
                In my work I use 


             
                <span class="badge badge-secondary">Python</span>
                <span class="badge badge-primary">Django</span>
                <span class="badge badge-success">HTML5</span>
                <span class="badge badge-danger">CSS3</span>
                <span class="badge badge-warning">Bootstrap</span>
                <span class="badge badge-info">PostgreSQL</span>
                <span class="badge badge-secondary">Redis</span>
                <span class="badge badge-primary">Twisted</span>
                <span class="badge badge-success">Celery</span>
                <span class="badge badge-danger">Javascript</span>
                <span class="badge badge-warning">React</span>
                <span class="badge badge-info">Git</span>
                </p>
              </div>

              <p></p>
              <p class="text-center"><a href="mailto:koualsky@gmail.com"> koualsky@gmail.com</a></p>
            </div>

        </div>
    </div>

{% endblock %}