{% extends "sites/base.html" %}
{% load static %}

{% block content %}
    

    <div class="container">
        <div class="d-flex justify-content-center align-items-center">

            <div class="card about border-0" style="width: 18rem;">
              <img src="{% static '/sites/me.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Hi :)</h5>
                <p>I'm Maciej. I'm a Fullstack Developer. 
                I make web app's working perfectly on mobiles and pc's. 
                In my work I use: </p>

                <span class="badge badge-primary">Python</span>
                <span class="badge badge-primary">Django</span>
                <span class="badge badge-primary">HTML5</span>
                <span class="badge badge-primary">CSS3</span>
                <span class="badge badge-primary">Bootstrap</span>
                <span class="badge badge-primary">PostgreSQL</span>
                <span class="badge badge-primary">Redis</span>
                <span class="badge badge-primary">Twisted</span>
                <span class="badge badge-primary">Celery</span>
                <span class="badge badge-primary">Javascript</span>
                <span class="badge badge-primary">React</span>
                <span class="badge badge-primary">Git</span>

                <p></p>
                <p>The easiest way to contact with me: 
                <a href="mailto:koualsky@gmail.com" class=""> koualsky@gmail.com</a></p>
              </div>
            </div>

        </div>
    </div>

{% endblock %}